body,html{
    padding: 0px;
    margin: 0px;
}
@font-face {
    font-family: one;
    src: url(../multimedia/Neue-Haas-Unica-Pro/Neue-Haas-Unica-Pro/NeueHaasUnicaPro-Medium.ttf);
}
@font-face {
    font-family: two;
    src: url(../multimedia/Neue-Haas-Unica-Pro/Neue-Haas-Unica-Pro/NeueHaasUnicaPro-Regular.ttf);
}
@font-face {
    font-family: three;
    src: url(../multimedia/Neue-Haas-Unica-Pro/Neue-Haas-Unica-Pro/NeueHaasUnicaPro-Thin.ttf);
}
/* @media only screen and (min-width: 1126px) {
    .item1 {
        width: 200px;
        height: 200px;
        background-color:#2D3243 ;
        border: 1px solid black;
        display:;
    } */
    

.body .dash{
    width: 100%;
    height: 50px;
    background-color:#2D3243;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 115px !important;
    padding-right: 115px !important;
    z-index: 1;
}
.notjustok{
    margin-right: 100px !important;
}
.header{
    background-color: #4D4E54;
}
h5{
    color: white;
}
dl{
    font-family: three;
    font-size: 15px !important;
}
dt{
    padding: 2px !important;
}
.unveil{
   font-family: two;
   font-size: 25px; 
    
}
.dash .item1 div{
    color: white;
    display: inline;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}
.item1{
    /* margin-right: 30px; */
    position: relative;
    right: 8%;
    font-family: one;   
}
.item1 div:hover{
    border-bottom: 4px solid #FF6600;
    padding-bottom: 9px;
}
/* .drop{
    overflow: hidden;
}
.dropdown {
    display: none;
    position: absolute;
    background-color: #2D3243;
    box-shadow: 0px 8px 16px 0px;
    min-width: 160px;
    z-index: 1;
}
.dropdown p{
    display: block;
    position: absolute;
    background-color: #2D3243;
    text-decoration: none;
    text-align: center;
}
.dropdown:hover p{
    background-color: #2D3243;
}
.dropdown div:hover .drop{
    display: block;
} */
.item2{
    color: white;
    font-size: 25px;
    
}
.item3{
    color: white;
    font-size: 15px;
    border-left: 1px solid rgba(253, 253, 253, 0.7);
    margin: 5px;
    padding: 10px;
}
.itemm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:20px ;
    
}
.footer{
    width: 50%;
    height: 130px;
    background-color: white;
    border: 1px solid black;
    position: fixed;
    bottom: 0px;
    left: 25%;
    z-index: 1;
}
.footerad{
    background-color: #2D3243;
    height: 60vh !important;
    width: 100% !important;
    margin-top: 40px !important;
    padding: 50px !important;
 
}
.sheriff{
    float: left;
    margin-top: -14px !important;
    

}
.shr{
    height:120px !important;
}
.adtext{
    margin-right: 0px !important;
    text-align: justify;
}
.adtxt{
    margin-right: 5px !important;
    text-align: justify;
    font-family: one;
    font-size: 12px;
}
.port{
    float: left;
    padding: 15px !important;
    margin: 10px !important;
}
.sport{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 7px !important;
}
.sport p{
    padding: 10px !important;
}
.dp{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    border: 1px solid transparent;
    margin-top: 10px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:radial-gradient(red 50%,rgb(253, 72, 120))
}
.newsletter{
    height: 230px !important;
    background-color:#2D3243;
    
}
.newsletter2{
    height: 230px !important;
    background-color:#2D3243;
    
}
.nlet{
    font-family:one;
    font-size: 22px;
    padding-top: 20px !important;
}
.nlet2{
    font-family:one;
    font-size: 22px;
    padding-top: 20px !important;
    margin-top: 150px !important;
}
.weekly{
    font-family: two;
}
.weekly2{
    font-family: two;
    font-size: smaller;
    margin-top: 20px !important;
}
.inpt{
    display: flex;
    justify-content: space-around;
    border: none;
    outline: none;

}
.inpt input{
    height: 40px !important;
    border: none;
    outline: none;
    text-decoration: none;
}
.this{
    border: 1px solid rgb(221, 218, 218);
    border-left: none;
    border-right: none;
}
.next{
    font-family: two;
    font-size: 13px;
}
.ymal{
    height: 230px;
    background-color: #2D3243;
    margin-left: 0px !important;
    margin-top: 20px !important;
}
.bmal{
   padding-left: 0px !important;
}
.bmalt{
    font-family: two;
    font-size: 20px !important;
    text-align: right;
    margin-left: 40px;
}